// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/basic-form/basic-form";
@import "../pages/item-details/item-details";
@import "../pages/buildform/buildform.scss";
@import "../pages/formvalidate/formvalidate.scss";